{% load i18n %}{% autoescape off %}
Guten Tag,

Sie erhalten diese E-Mail, weil für Ihr Benutzerkonto im GTS Planer Admin eine Passwort-Zurücksetzung angefordert wurde.

Bitte klicken Sie auf den folgenden Link, um Ihr Passwort zurückzusetzen:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Falls Sie diese Anfrage nicht gestellt haben, können Sie diese E-Mail ignorieren. Ihr Passwort wird nicht geändert.

Mit freundlichen Grüßen,
GTS Planer Admin
Hilfswerk Österreich
{% endautoescape %}
